#overview
{
	text-align: left;
}

#previewimage
{
	width: 20%;
	float: left;
}
#description
{
	width: 79%;
	float: left;
	margin-left: 10px;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}
